<div class="col-12 text-center mb-4">
  <h2>Programmation</h2>
</div>

<div class="row" *ngIf="!loading">
  <ng-container *ngIf="isConnected">
    <div class="col-10 offset-1 mb-4">
      <a class="btn btn-primary" routerLink="/program-add">Ajouter un concert</a>
    </div>
  </ng-container>

  <ng-container *ngIf="concerts">
    <div class="col-md-5 offset-md-1 col-sm-12 text-center align-middle">
      <table class="table table-bordered program">
        <thead>
        <tr>
          <th colspan="3">29-06-20</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Heure</th>
          <th>Artiste</th>
          <th>Durée</th>
        </tr>

        <tr *ngFor="let concert of getConcertFirstDay(concerts)">
          <td *ngIf="isConnected">
            <a routerLink="/program-edit/{{concert.id}}">{{concert.time}} h</a>
          </td>
          <td *ngIf="!isConnected">
            {{concert.time}} h
          </td>

          <td *ngIf="concert.artist">
            {{concert.artist.name}}
          </td>
          <td *ngIf="concert.artist == null">

          </td>
          <td>
            {{concert.duration}} h
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-5 col-sm-12 text-center align-middle">
      <table class="table table-bordered program">
        <thead>
        <tr>
          <th colspan="3">30-06-20</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>Heure</th>
          <th>Artiste</th>
          <th>Durée</th>
        </tr>
        <tr *ngFor="let concert of getConcertSecondDay(concerts)">
          <td *ngIf="isConnected">
            <a routerLink="/program-edit/{{concert.id}}">{{concert.time}} h</a>
          </td>
          <td *ngIf="!isConnected">
            {{concert.time}} h
          </td>
          <td *ngIf="concert.artist">
            {{concert.artist.name}}
          </td>
          <td *ngIf="concert.artist == null">

          </td>
          <td>
            {{concert.duration}} h
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

</div>

