<ng-container>
  <h2>Modifier un artiste</h2>

  <form (ngSubmit)="editArtist(form)" #form="ngForm" [class.was-validated]="formSubmitted" *ngIf="artist">

    <div class="form-group">
      <label>Nom de l'artiste</label>
      <input type="text" class="form-control" name="name"
             [(ngModel)]="artist.name" #nameInput="ngModel" required>
    </div>

    <div class="form-group">
      <label>Biographie</label>
      <textarea class="form-control" name="biography"
                [(ngModel)]="artist.biography" #biographyInput="ngModel" required></textarea>
    </div>

    <button class="btn btn-primary">Valider</button>
    <button class="btn btn-danger float-right" type="button" (click)="deleteArtist()">Supprimer</button>
  </form>

</ng-container>
