<div class="text-center">
  <div class="col-12 mb-4">
    <h2>Informations à destination des bénévoles</h2>
  </div>

  <h3>Accès au site du festival</h3>
  <p>Le festival se déroulera sur la Place Stanislas à Nancy. Les bénévoles doivent se présenter la veille afin
    d'obtenir leurs badges d'entrées.</p>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.555102840143!2d6.182953261368055!3d48.69356202755797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794986d2f3bfaf9%3A0x6fe27f2b0b239f1b!2sPlace%20Stanislas!5e1!3m2!1sfr!2sfr!4v1593006718742!5m2!1sfr!2sfr"
    width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
    tabindex="0"></iframe>

  <h3>Horaires</h3>
  <p>Les concerts se dérouleront de 11h00 à 0h00 chaque jours.</p>

  <h3>Buvette</h3>
  <p>20 stands de buvette sont prévus sur le site, n'hésitez pas à vous porter volontaire.</p>
</div>
